<div class="userHeader clearfix">
      <h3 class="bioName">placeholder</h3>
      <div class="bio">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit mollitia quod laudantium dolor voluptatum hic modi facilis in non ullam provident, ipsa sequi architecto officia voluptate adipisci sapiente voluptas, molestiae nam veniam odit, nulla quidem blanditiis? Alias minima veniam, quaerat.</p>
      </div>
    </div>
